@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';
.ccc {
    @apply bg-sky-500 hover:bg-sky-700 px-5 py-2 text-sm leading-5 rounded-full font-semibold text-white;
}

.bbb{
    @apply mr-2;
}
.subscribe-btn{
    @apply w-48 mt-4 bg-violet-500 hover:bg-violet-600 focus:outline-none focus:ring focus:ring-violet-300 active:bg-violet-700 px-5 py-2 text-sm leading-5 rounded-full font-semibold text-white;
}

.separator{
    @apply border-t border-gray-300 my-6;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .animated-spin {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  